/* Chef details */

/*==================== Chef Page ====================*/
.pageContainer {
  display: flex;
  margin-bottom: var(--spacing-xl);
}

.imageContainerWrapper {
  max-width: 350px;
  max-height: 350px;
  aspect-ratio: 1/1;
  margin-right: var(--spacing-l);
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.aboutWrapper {
  align-self: flex-end;
}

.title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
}

.about {
  font-size: var(--font-size-m);
  font-weight: var(--font-medium);
  letter-spacing: 0.1rem;
}

.detailsContainer {
  display: flex;
  min-height: 680px;
  flex-direction: column;
  margin-bottom: var(--spacing-xl);
}

.storeText {
  font-size: var(--font-size-l);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.1rem;
  margin-bottom: var(--spacing-m);
}

/*==================== Tag ====================*/
.tagsContainer {
  display: flex;
  margin-bottom: var(--spacing-m);
}

.tag {
  height: 40px;
  display: inline-flex;
  border: 1px solid var(--second-color);
  color: var(--second-color);
  background: transparent;
  border-radius: 0.5rem;
  margin-inline: var(--spacing-sm);
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.tag:hover {
  background: var(--second-color);
  color: #fff;
}

.tag span {
  padding: 0 1rem;
}

/*==================== Products ====================*/

.productContainer {
  min-height: 210px;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  transition: var(--animation-time);
}

.productContainer:hover {
  box-shadow: var(--box-shadow-hover);
}

.productsContainer > p {
  font-size: var(--font-size-xl);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-m);
}

/*==================== Product Card ====================*/
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--gap);
}

.productImg {
  /*min-width: 260px;*/
  aspect-ratio: 1/1;
}

.productImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  height: 210px;
}

.productDetails h3 {
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-l);
}

.productDetails p {
  font-size: var(--font-size-s);
  color: var(--font-color-light);
  margin-bottom: var(--spacing-sm);
}

.productDetailsBuy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetailsBuy span {
  font-weight: var(--font-semi-bold);
}

/*==================== Media Queries ====================*/
@media screen and (max-width: 1190px) {
  .productsWrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 810px) {
  .productsWrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
