@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 50;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 98%, 64%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);

  --second-color: hsl(162, 64%, 56%);

  --hover-color: hsl(220, 13%, 91%);

  --inactive-color: hsl(0, 0%, 97%);

  --title-color: hsl(var(--hue-color), 8%, 15%);

  --font-color: hsl(var(--hue-color), 8%, 15%);
  --font-color-light: hsl(var(--hue-color), 8%, 45%);

  --input-color: hsl(var(--hue-color), 70%, 96%);

  --body-color: hsl(var(--hue-color), 60%, 99%);

  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);

  --scroll-thumb-color: hsl(var(--hue-color), 12%, 70%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

  --font-size-sm: 0.75rem;
  --font-size-s: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;

  /*========== Font weight ==========*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /*========== Spacing ==========*/
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-s: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;

  --gap: 1.5rem;

  /*========== Shadows ==========*/
  --box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);

  /*========== Animations ==========*/
  --animation-time: 0.3s;

  /*========== Borders ==========*/
  --border-radius: 0.25rem;
  --border-color: hsl(220, 13%, 91%);
}

/*========== Reset and elements styles ==========*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-weight-500);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  vertical-align: center;
}

select {
  display: block;
  width: 100%;
  padding: var(--spacing-xxs) var(--spacing-xs);
  -webkit-appearance: none;
  font-family: inherit;
  font-size: var(--font-size-s);
  line-height: 1.5rem;
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-image: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3e%3cpath stroke=%27%236b7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27M6 8l4 4 4-4%27/%3e%3c/svg%3e);
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

label {
  display: block;
  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-500);
  color: var(--font-color);
}

input {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: var(--spacing-xs);
  font-size: var(--font-size-s);
  margin-top: var(--spacing-xxs);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

textarea {
  width: 100%;
  font-family: inherit;
  font-size: var(--font-size-s);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

/*!*========== Disabled styles ==========*!*/
/*textarea:disabled,*/
/*select:disabled,*/
/*input:disabled {*/
/*  background-color: var(--inactive-color);*/
/*  color: var(--font-color-light);*/
/*}*/
