@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 50;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 98%, 64%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);

  --second-color: hsl(162, 64%, 56%);

  --hover-color: hsl(220, 13%, 91%);

  --inactive-color: hsl(0, 0%, 97%);

  --title-color: hsl(var(--hue-color), 8%, 15%);

  --font-color: hsl(var(--hue-color), 8%, 15%);
  --font-color-light: hsl(var(--hue-color), 8%, 45%);

  --input-color: hsl(var(--hue-color), 70%, 96%);

  --body-color: hsl(var(--hue-color), 60%, 99%);

  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);

  --scroll-thumb-color: hsl(var(--hue-color), 12%, 70%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

  --font-size-sm: 0.75rem;
  --font-size-s: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;

  /*========== Font weight ==========*/
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /*========== Spacing ==========*/
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-s: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;

  --gap: 1.5rem;

  /*========== Shadows ==========*/
  --box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);

  /*========== Animations ==========*/
  --animation-time: 0.3s;

  /*========== Borders ==========*/
  --border-radius: 0.25rem;
  --border-color: hsl(220, 13%, 91%);
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-weight-500);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  vertical-align: center;
}
