/*========== Account container ==========*/
.accountContainer h3 {
  font-size: var(--font-size-lg);
}

.accountContainer p {
  margin-top: var(--spacing-xxs);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-400);
  color: var(--font-color-light);
}

.accountContainer label {
  display: block;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-500);
  color: var(--font-color);
}

.accountContainer input {
  display: block;
  width: 100%;
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--font-size-s);
  margin-top: var(--spacing-xxs);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

/*========== Avatar ==========*/
.avatarContainer {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-xxs);
}

.avatarContainer img {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.avatarContent {
  display: flex;
  margin-left: var(--spacing-s);
}

.avatarWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: var(--spacing-xs) var(--spacing-xs);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.avatarWrapper:hover {
  background-color: var(--hover-color);
}

.avatarWrapper label {
  position: relative;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-600);
  color: var(--font-color);
  pointer-events: none;
}

.avatarWrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  opacity: 0;
}

/*========== User badge ==========*/
.userBadgeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--second-color);
}

.userBadgeContainer span {
  padding: var(--spacing-xs);
  color: white;
  text-transform: uppercase;
  margin-inline: var(--spacing-xs);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-600);
}

.userBadgeContainer span:nth-child(2) {
  margin-inline: unset;
  border-inline: 1px solid white;
  padding-inline: var(--spacing-xs);
}

.promoted {
  color: var(--font-color) !important;
  background-color: var(--first-color);
}

/*========== Personal information ==========*/
.personalInformationContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: var(--gap);
  margin-top: var(--spacing-md);
}

.inputContainer2 {
  grid-column: span 2 / span 2;
}

.inputContainer3 {
  grid-column: span 3 / span 3;
}

.inputContainer4 {
  grid-column: span 4 / span 4;
}

.inputContainer6 {
  grid-column: span 6 / span 6;
}
