/*==================== Tag ====================*/
.tagsContainer {
  display: flex;
  margin-bottom: var(--spacing-md);
}

.tag {
  height: 30px;
  display: inline-flex;
  margin-inline: var(--spacing-xxs);
  border: 1px solid var(--second-color);
  color: var(--second-color);
  background: transparent;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.tag:first-child {
  margin-left: unset;
}

.tag:hover {
  background: var(--second-color);
  color: #fff;
}

.tag span {
  padding: 0 1rem;
}
