/*==================== Pagination ====================*/
.container {
  display: flex;
  align-self: center;
  justify-content: center;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: var(--spacing-s);
  border: 1px solid var(--inactive-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.pageLink {
  display: block;
  padding: var(--spacing-xs) var(--spacing-s);
  color: var(--font-color-light);
  background-color: var(--inactive-color);
  border: 1px solid var(--inactive-color);
  z-index: 1;
  transition: all 0.25s ease-in-out;
}

.pageLink:hover {
  background-color: var(--second-color);
  color: #fff;
  border-color: var(--second-color);
}

.pageItem.pageActive .pageLink {
  color: #ffffff;
  background-color: var(--second-color);
  border-color: var(--second-color);
  z-index: 3;
}

.pageItem:first-child .pageLink {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.pageItem:last-child .pageLink {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
